@import '../../index.scss';

.topbar {
    background-color: #448AFF;
    padding: 2rem 3rem;
    display: flex;
}

.nav-logo {
    display: block;
    width: 12%;
}

@media (width < 768px) {
    .topbar {
        padding: 1.2rem;
    }

    .nav-logo {
        width: 50%;
        object-fit: cover;
    }
}

@media (768px <= width < 1440px) {
    .nav-logo {
        width: 35%;
        object-fit: cover;
    }
}