@import '../../index.scss';

.topbar {
    background-color: #448AFF;
    padding: 2rem 3rem;
    display: flex;
}

.nav-logo {
    display: block;
    width: 12%;
}

@media (width < 768px) {
    .nav-logo {
        width: 12rem;
    }
    
    .nav-icon {
        width: 2.5rem;
        object-fit: cover;
    }
}