@import '../../index.scss';

.filter-table {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
}

.filter > input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    width: 40rem;
}

@media (width < 768px) {  
    .filter-table {
        flex-direction: column;
        margin: 1.2rem 0;
    } 

    .filter > input {
        width: 15rem;
    }
}

@media (768px <= width < 1440px) {
    .filter > input {
        width: 25rem;
    }
}