@import '../../index.scss';

.no-style-button {
    width: 2rem;
}

.button-add {
    width: 2rem;
}

.user-icon {
    width: 2rem;
}

.no-style-button {
    background: none;
    border: 0;
    overflow: visible;
    display: flex;
}

.user-icon {
    width: 35px;
    display: block;
    justify-content: center;
    margin: auto;
    align-items: center;
}