/* Nav Bar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #448AFF;
}

.tecsup {
    width: 15%;
}

.container {
    width: 90%;
}

.container .btn-menu {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    cursor: pointer;
}

.container .menu {
    float: right;
    line-height: 100px;
}

/* Left Nav Bar*/
#btn-menu {
    display: none;
}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: white;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 25px;
    color: #4F5B67;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #EAE7E7;
    background: #EAE7E7;
}

.cont-menu label {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.no-style-button {
    background: none;
    border: 0;
    overflow: visible;
    display: flex;
}

.nav-icon {
    padding-right: 12px;
    width: 36px;
}

.admin {
    padding-left: 15px;
    font-size: 20px;
}

.stats {
    text-align: center;
    width: 400px;
}

.list-group * {
    z-index: -2;
}

.user-icon {
    width: 35px;
}

.title {
    text-align: center;
    margin-top: 40px;
    color: #4F5B67;
    font-size: 24px;
}

.filter-table {
    display: flex;
}

/* Profile */
.edit-profile {
    margin: 2% 30%;
}

/* Login */
.login-container {
    background: url('../src/assets/background-tecsup.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo-login {
    width: 250px;
    display: block;
    margin: 1vh auto 3vh auto;
}

.title-login {
    text-align: center;
    color: #363c43;
    font-size: 16px;
    margin: 2vh auto;
}

.login-form {
    position: absolute;
    left: 73%;
    top: 25%;
    background-color: #e8e8e8ef;
    border-radius: 10px;
    padding: 4vh;
}

.login-inputs {
    width: 33vh;
    display: block;
    margin: 2vh auto;
}

.login-form label, .login-inputs input {
    color: #363c43;
    font-size: 14px;
}

.login-form button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.error-message {
    text-align: center;
    margin-top: 2vh;
    color: #363c43;
    font-size: 14px;
}