/* Fonts */
@font-face {
    font-family: Nunito-Regular;
    src: url(../src/assets/fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito-Medium;
    src: url(../src/assets/fonts/Nunito/Nunito-Medium.ttf);
}

@font-face {
    font-family: Nunito-ExtraLightItalic;
    src: url(../src/assets/fonts/Nunito/Nunito-ExtraLightItalic.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(../src/assets/fonts/Inter/Inter-Medium.ttf);
}

/* Text styles */

.title {
    text-align: center;
    margin-top: 45px;
    color: #4F5B67;
    font-size: 24px;
    font-family: "Inter-Medium";
}

.table-head {
    font-family: 'Nunito-Regular';
    color: #718096;
    text-align: center;
}

.table-content {
    font-family: 'Nunito-ExtraLightItalic';
    color: #111827;
    text-align: center;
}

/* Buttons */
.filtros {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: #718096;
    font-family: 'Nunito-Medium';
}

.filtros img {
    width: 22px;
}

.actions-container {
    display: flex;
    margin: 0 auto;
}

.agregar {
    color: #0CAF60;
    background-color: #EDF6ED;
    border: none;
    border-radius: 10px;
    padding: 0 0.8rem;
    font-family: 'Nunito-Medium';
    width: 80px;
    height: 32px;
    font-size: 14px;
    margin: 0 auto;
}

.cancelar {
    color: #FD6A6A;
    background-color: #FFECEC;
    border: none;
    border-radius: 10px;
    padding: 0 0.8rem;
    font-family: 'Nunito-Medium';
    width: 80px;
    height: 32px;
    font-size: 14px;
    margin: 0 auto;
}

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito-Regular';
}

h1 {
    font-family: 'Inter-Regular';
}

/* Navbar */

.header {
    background-color: #448AFF;
}

.tecsup {
    width: 15%;
}

.container {
    width: 90%;
}

.container .btn-menu {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    cursor: pointer;
}

.container .menu {
    float: right;
    line-height: 100px;
}

/* Left Nav Bar*/
#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: white;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 30px;
    color: #4F5B67;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #C7DCFF;
    background: #C7DCFF;
    transition: ease-in 0.3s;
}

.cont-menu label {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.no-style-button {
    background: none;
    border: 0;
    overflow: visible;
    display: flex;
}

.nav-icon {
    padding-right: 12px;
    width: 40px;
}

.nav-icon:hover {
    fill: #C7DCFF;
}

.admin {
    padding-left: 15px;
    font-size: 20px;
}

.stats {
    text-align: center;
    width: 400px;
}

.list-group * {
    z-index: -2;
}

.user-icon {
    width: 35px;
}

/* Profile */
.project-modal {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 auto;
    gap: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.project-name {
    border: 1px solid #cccccc;
    width: auto;
    padding: 0.5rem;
    border-radius: 4px;
}

.project-modal h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.project-category {
    width: 14rem;
    height: 2.25rem;
    border: 1px solid #cccccc;
    margin-top: 0.5rem;
    color: #767676;
}

.button-project {
    border-radius: 4px;
    background-color: #448AFF;
    color: white;
    border-radius: 4px;
    display: block;
    margin: 1rem auto;
    border: none;
    padding: 0.7rem 1.4rem;
    width: 100%;
    font-weight: bold;
}

.button-project:hover {
    background-color: #3677e6;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Stadistics */
.filter-table {
    display: flex;
    gap: 2vh;
    margin: 2.5vh 0;
}

.filter-pc {
    width: 70vh;
}

/* Login */
.login-container {
    background: url('../src/assets/background-tecsup.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo-login {
    width: 250px;
    display: block;
    margin: 1vh auto 3vh auto;
}

.title-login {
    text-align: center;
    color: #363c43;
    font-size: 16px;
    margin: 2vh auto;
}

.login-form {
    position: absolute;
    left: 73%;
    top: 25%;
    background-color: #e8e8e8ef;
    border-radius: 10px;
    padding: 4vh;
}

.login-inputs {
    width: 33vh;
    display: block;
    margin: 2vh auto;
}

.login-form label, .login-inputs input {
    color: #363c43;
    font-size: 14px;
}

.login-form button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.error-message {
    text-align: center;
    margin-top: 2vh;
    color: #363c43;
    font-size: 14px;
}